# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# generated sitemap
/public/sitemap*.xml
/public/robots.txt

# env
.env*

# os
.DS_Store
Thumbs.db
desktop.ini

# editors
.vscode/
.idea/
*.swp
*.swo
*~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# keys
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
/coverage
